.dashboard-container {
  min-width: 600px;
  height: 100vh;
  margin: 0.5rem auto;
  padding: 1.5rem;
  background-color: #f0f4f8;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.dashboard-header {
  margin-bottom: 2rem;
  text-align: center;
}

.dashboard-title {
  font-size: 1.7srem;
  margin-bottom: 0.5rem;
}

.dashboard-subtitle {
  font-size: 1.2rem;
  margin-bottom: 0.75rem;
  color: #666;
  text-decoration: none;
}

.dashboard-welcome {
  font-size: 1.1rem;
  font-weight: 500;
  color: #333;
}

.my-fav-repos h2 {
  text-align: left;
  color: #77828c;
}

/* search */
.search-form {
  margin-bottom: 30px;
}
.search-input {
  padding: 8px;
  border-radius: 10px 0 0 10px;
}

.search-button {
  padding: 8px;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}
.search-button:hover {
  background-color: rgb(160, 149, 135);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

/* Repo List Styles */

.repo-list {
  list-style: none;
  padding: 0;
  margin-top: 1.5rem;
}

.repo-item {
  background-color: rgb(89, 79, 116);
  border-radius: 6px;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.repo-name {
  font-weight: bold;
  color: #333;
}

.repo-id {
  font-size: 0.85rem;
  color: #777;
}

.delete-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #e60000;
}
